// Setting default font value

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

// stripping default values

h1,
h2,
h4,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

// Wrapper---------------

.wrapper {
  max-width: 1140px;
  width: 85%;
  margin: 0 auto;
}
